@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0a0a0a;
  --background: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, sans-serif;
}
